{% extends "base.html" %}

{% block title %}
Listagem de Pedido
{% endblock title %}

{% block content %}
<div class="card">
    <div class="card-header">
        Dados do Pedido
    </div>
    <div class="card-body">
        <h5 class="card-title">Cliente: {{pedido.cliente.nome}}</h5>
        <h5 class="card-title">Observações: {{pedido.observacoes}}</h5>
        <h5 class="card-title">Data do pedido: {{pedido.data_pedido}}</h5>
        <h5 class="card-title">Valor: {{pedido.valor}}</h5>
        <h5 class="card-title">Status: {{pedido.status}}</h5>
    </div>

    <hr>
    <h4>Produtos do pedido: </h4>
    {% for i in pedido.produtos.all %}
    <h5>{{i.nome}}</h5>
    {% endfor %}
</div>

{% endblock content %}

